<?xml version="1.0" encoding="UTF-8"?>
<!--
    bean-discovery-mode, explicit bean archive

    Java Platform, Enterprise Edition (Java EE) 7 - Java Platform, Enterprise Edition: The Java EE Tutorial
    25.1 Packaging CDI Applications
    http://docs.oracle.com/javaee/7/tutorial/cdi-adv001.htm

    15.6. Packaging and deployment - 15.6.1. Explicit bean archive, 15.6.2. Implicit bean archive
    https://docs.jboss.org/weld/reference/latest/en-US/html/ee.html#packaging-and-deployment
-->

<!--
    Migration to CDI 4 - See "empty beans.xml discovery mode"
    https://docs.jboss.org/weld/reference/latest-5.1/en-US/html_single/#_empty_beans_xml_discovery_mode
-->

<beans xmlns="https://jakarta.ee/xml/ns/jakartaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/beans_3_0.xsd"
       bean-discovery-mode="all">
</beans>
